.header {
  /*background-image: url("../images/background.jpg");*/
  background-image: url(http://cache.desktopnexus.com/thumbseg/1108/1108912-bigthumbnail.jpg);
  background-position: center center;
  background-size: cover;
  /*text-shadow: 3px 3px 8px #000;*/
  height: 300px;
  font-family: 'Roboto';
  color:white;
  text-align: center;
  margin-top: 50px;
}

.header h1 {
	color:white;
}

#footer {
	background-color: #2e2e2e; 
	color:white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}

body {
	font-family: 'Roboto';
}

h1 {
	color:#33cccc;
}

.navbar
	a {
		color: white;
	}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #222;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #222;
}

.intro {
	background-color: ;
}
.team {
	text-align:center;
	background-color: #FAFAFA;
}

.team img {
	width: 100%;
	max-width:175px;
	margin:0 auto;
	display: block;
}

@media screen and (max-width: 768px) {

	.team img{
		max-width:150px;
		margin:0 auto;
		display: block;
	}
}

table {
	text-align: left;
}
